.blogPost {
	padding-top: 3rem;
}

.blogTitle {
	margin-bottom: 3rem;
}

.title {
  margin: 0 0 0.5rem;
  padding: 0;
  color: #20242C;
  font-family: ff-ernestine-pro, serif;
}

.date {
  color: #9B9B9B;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: museo-sans, sans-serif;
}

.blogPostContent {
  font-weight: 300;
  font-family: museo-sans, sans-serif;
  line-height: 1.75rem;
  margin-bottom: 2em;
}

.blogPost .navigation {
  min-height: 60px;
}

.blogPostContent h2,h3,h4,h5,h6 {
  font-family: "ff-ernestine-pro", "serif" !important; 
  font-weight: 600;
  margin: 2rem 0 1rem 0;
  text-decoration: underline;
}

.blogPostContent img {
  display: flex;
  margin: 0 auto;
}

.blogPost blockquote {
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #CA69DA ;
  padding-left: 1rem;
  font-style: italic;
}